# streamlit에 올리기 전 연습해보는 파일

In [6]:
import pandas as pd
import numpy as np
import openpyxl
import matplotlib
from matplotlib import rc
import matplotlib.pyplot as plt

In [7]:
font_name = 'AppleGothic'
rc('font', family='AppleGothic')
plt.rcParams['axes.unicode_minus'] = False

## 시각화 1
1. choropleth: 전체 인구 수/ 장애인 인구 수/ 장애인 인구 비율
  1. point: 전체 충전소 위치
     1. 데이터: 구 별로 충전소 묶은 데이터 
2. bar plot
  2. 구 별로 장애인 인구 수/장애인 인구 비율 -> population 
  3. 구 별로 역 내 충전소 개수 (합쳐서)

In [51]:
district_loc = pd.read_csv('../data/district_location.csv')

     자치구        lat        long
0    종로구  37.594917  126.977321
1     중구  37.560144  126.995968
2    용산구  37.531385  126.979907
3    성동구  37.551030  127.041059
4    광진구  37.546720  127.085744
5   동대문구  37.581957  127.054848
6    중랑구  37.597817  127.092883
7    성북구  37.605702  127.017579
8    강북구  37.643474  127.011189
9    도봉구  37.669102  127.032369
10   노원구  37.652511  127.075035
11   은평구  37.619211  126.927023
12  서대문구  37.577785  126.939063
13   마포구  37.559313  126.908270
14   양천구  37.524789  126.855478
15   강서구  37.561235  126.822807
16   구로구  37.494405  126.856301
17   금천구  37.460568  126.900820
18  영등포구  37.522308  126.910169
19   동작구  37.498877  126.951641
20   관악구  37.467376  126.945337
21   서초구  37.473295  127.031220
22   강남구  37.496644  127.062985
23   송파구  37.505619  127.115295
24   강동구  37.550450  127.147012

In [56]:
pd.read_csv('../data/역내충전소위치.csv')

     자치구    역명        lat        long  n
0    강남구    수서  37.487388  127.101893  2
1    강남구    선릉  37.504503  127.048942  2
2    용산구   삼각지  37.534403  126.973357  2
3    용산구  숙대입구  37.545496  126.972239  2
4   서대문구   무악재  37.582425  126.950579  2
..   ...   ...        ...         ... ..
89   중랑구   화랑대  37.619894  127.083745  2
90   성동구    마장  37.565703  127.042758  1
91   성동구   신금호  37.554421  127.020421  1
92   성동구   왕십리  37.561268  127.038004  1
93   성동구  상왕십리  37.564467  127.029030  1

[94 rows x 5 columns]

In [ ]:
### temporary 


#charger.columns

charger.head()
#c.loc[:,['시설명', '시군구명', '위도', '경도', '사용가능대수']]
c.columns

df3 = c.iloc[:,[0,2,6,7,15]]


df3['동시사용가능대수'][df3['동시사용가능대수'].isna()]
temp = df3.drop([439,])
temp_for_map = temp.iloc[:,[2,3]]


df3['위도'][pd.isnull(df3['위도'])]

temp.iloc[438]

temp = df3.drop([439,])
temp.reset_index(drop = True)

temp_for_map = temp.iloc[:,[2,3]]


temp = temp.reset_index(drop = True)
seoul_loc = pd.read_excel('./data2/location.xlsx')
seoul_loc = seoul_loc.loc[:,['SIG_KOR_NM', 'x', 'y']]
seoul_loc.columns = ['자치구', '경도', '위도']
districts = list(set(temp['시군구명']))

location = {}

dist_list = list(seoul_loc['자치구'])

for i in range(0, len(districts)):
    district = districts[i]
    if district in dist_list:
        tmp = seoul_loc[seoul_loc['자치구'] == district].values.tolist()
        l1[0][1:3]
        lat = tmp[0][2]
        long = tmp[0][1]
        
        
        location[district] = [lat, long]
        #location[districts[i]].append(lat)
        #location[districts[i]].append(long)

s2 = pd.DataFrame(location).transpose()
s2.columns = ['lat','long']

s3 = pd.merge(c_station, s2, left_on = c_station.index, right_on = s2.index)
s = s3.loc[:,['key_0','역 내 충전소', 'lat','long']]
s.rename(columns = {'key_0': '자치구'}, inplace = True)
s

시각화 2
3. 구 선택: 구 안에서 세부 정보
  1. 동 별로 장애인 현황 통계
  2. 동 별로 구획 나눌 수 있는 데이터 있는지 확인 (위도 경도)
  3. 동 안에 역 위치 점 찍을 수 있는지
     1. 동 안에 역 정보

 
시각화 3
1. 호선 선택: 1~8호선, 각 역 별로 편의 시설 정보
  1.choropleth: 서울시 choropleth 위에 역 별로 점 찍기 (호선)
  1. 환승역 표시
  2. 역 별로 편의 시설 정보

In [90]:
#시설정보 
train = pd.read_csv('../data_raw/지하철정보.csv')
train.loc[:,['line','name', 'lat', 'lng', '휠체어리프트여부', '엘리베이터여부', '운영수량']]
train[train.loc[:,'line'] == 1]

,Unnamed: 0,line,name,lat,lng,2022_average_formonth,휠체어리프트여부,엘리베이터여부,운영수량,설치위치
0,0,1,종로3가,37.571607,126.991806,64711,N,Y,1,12번 출구로 내려와서 20m 지점
1,1,1,종로5가,37.570926,127.001849,51659,N,Y,0,NaN
2,2,1,동대문,37.571420,127.009745,31303,N,Y,0,NaN
3,3,1,신설동,37.575297,127.025087,29963,Y,Y,0,NaN
4,4,1,제기동,37.578103,127.034893,52460,N,Y,1,1번 출구 개찰구 앞 5m 지점
5,5,1,청량리,37.580178,127.046835,58650,Y,Y,0,NaN
6,6,1,동묘앞,37.572627,127.016429,42345,N,Y,1,B1층 상선 승강장 2-2 지점
7,7,1,시청,37.564718,126.977108,23313,N,Y,0,NaN
8,8,1,종각,37.570161,126.982923,35669,N,Y,1,"3, 4번 출구쪽 게이트 방면 45m 지점"

In [102]:
amenities = pd.read_csv('../data_raw/amenities.csv', encoding = 'cp949')
amenities = amenities.drop(columns = ['역번호', '외부역번호'])


bool_name2 = amenities['호선'].str.endswith('호선')
line_to_change = amenities[bool_name2].reset_index(drop = True)
line_to_change['호선'] = line_to_change['호선'].str.replace('호선', '')
line_to_change['호선'] = pd.to_numeric(line_to_change['호선'])
line_to_change


bool_name = line_to_change['역명'].str.endswith('역')
name_to_change = line_to_change[bool_name]
line_to_change.iloc[name_to_change.index,0] = line_to_change.iloc[name_to_change.index,0].str.replace('역', '')

amen.columns
amen.columns = ['역명', '호선','문화공간', '휠체어리프트','만남의장소','환승주차장','자전거보관소','엘리베이터','기차예매역','무인민원발급기','환전키오스크','수유실','충전기운영수량']

#amen.to_csv('../data/amen.csv', index = False)

In [114]:
charger = pd.read_csv('../data/역내충전소위치.csv')
len(charger['역명'] )
charger

     자치구    역명        lat        long  n
0    강남구    수서  37.487388  127.101893  2
1    강남구    선릉  37.504503  127.048942  2
2    용산구   삼각지  37.534403  126.973357  2
3    용산구  숙대입구  37.545496  126.972239  2
4   서대문구   무악재  37.582425  126.950579  2
..   ...   ...        ...         ... ..
89   중랑구   화랑대  37.619894  127.083745  2
90   성동구    마장  37.565703  127.042758  1
91   성동구   신금호  37.554421  127.020421  1
92   성동구   왕십리  37.561268  127.038004  1
93   성동구  상왕십리  37.564467  127.029030  1

[94 rows x 5 columns]

In [140]:

index = []
value = []
for i in range(len(charger['역명'])):
    bool_name = amen['역명'] == charger['역명'][i]
    val_to_change = amen[bool_name]
    amen.iloc[val_to_change.index,-1] = charger.iloc[i,4]
    idx = list(amen[amen['역명'] == charger['역명'][i]].index)

amen.to_csv('../data/amen.csv', index = False)

In [141]:
pd.read_csv('../data/amen.csv')

,역명,호선,문화공간,휠체어리프트,만남의장소,환승주차장,자전거보관소,엘리베이터,기차예매역,무인민원발급기,환전키오스크,수유실,충전기운영수량
0,서울,1,N,Y,N,N,N,Y,N,N,N,N,2.0
1,시청,1,N,N,N,N,N,Y,N,N,N,N,0.0
2,종각,1,N,N,N,N,Y,Y,N,Y,N,N,1.0
3,종로3가,1,N,N,N,N,N,Y,N,N,N,Y,1.0
4,종로5가,1,N,N,N,N,N,Y,N,N,N,N,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,송파나루,9,N,N,N,N,N,Y,N,Y,N,Y,2.0
290,한성백제,9,N,N,N,N,N,Y,N,N,N,Y,2.0
291,올림픽공원,9,N,N,N,N,N,Y,N,N,N,Y,1.0
292,둔촌오륜,9,N,N,N,N,N,Y,N,N,N,Y,NaN
293,중앙보훈병원,9,N,N,N,N,N,Y,N,N,N,Y,2.0